// COMPONENTS
// PAGE
// =================================================

.page {
	color: $color-brand-2;
	font-family: Avenir, Helvetica, Arial, sans-serif;
	text-align: center;

	&__container {
		width: 100%;
		max-width: 140rem;
		margin: 0 auto;
	}

	&__inner {
		padding-right: 3rem;
		padding-left: 3rem;
		position: relative;

		@include media("md") {
			padding-right: 2rem;
			padding-left: 2rem;
		}
	}

	&__title {
		margin-bottom: $font-size--h1;
		font-size: $font-size--h1;
		line-height: $font-size--h1;
	}

	&__subtitle {
		margin-bottom: $font-size--h3;
		font-size: $font-size--h3;
		line-height: $font-size--h3;
	}

	&__header {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}

	&__body {
		font-size: $font-size--global;
		line-height: $line-height--global;
	}

	&__main {
		padding-top: 5rem;
		padding-bottom: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: $color-white;
	}

	&__section {
		display: flex;
		justify-content: center;
	}

	&__article {
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}
}
