// ABSTRACTS - VARIABLES
// COLORS
// =================================================

// SHADES OF GRAY
// ------------------
$color-white: #FFFFFF;
$color-ghost: #F2F2F2;
$color-light: #EBEBEB;
$color-silver: #B2B2B2;
$color-gray: #808080;
$color-gray-dark: #545454;
$color-metal: #3C3C3C;
$color-carbon: #2A2A2A;
$color-dark: #181818;
$color-black: #000000;

// VUE
// ------------------
$color-brand-vue-1: #00BD7E;
$color-brand-vue-2: #2C3E50;
$color-brand-vue-3: #FFFFFF;

// BRAND
// ------------------
$color-brand-1: $color-brand-vue-1;
$color-brand-2: $color-brand-vue-2;

// STATUS
// ------------------
$color-error: #F58688;
$color-success: #64BDBD;