// ABSTRACTS - VARIABLES
// COLORS
// =================================================

// SHADES OF GRAY
// ----------------------------------------------------------------------
$color-white: #ffffff;
$color-ghost: #f2f2f2;
$color-light: #ebebeb;
$color-silver: #b2b2b2;
$color-gray: #808080;
$color-metal: #3c3c3c;
$color-carbon: #2a2a2a;
$color-dark: #181818;
$color-black: #000000;

// VUE
// ----------------------------------------------------------------------
$color-brand-vue-1: #00bd7e;
$color-brand-vue-2: #2c3e50;
$color-brand-vue-3: #ffffff;

// BRAND
// ----------------------------------------------------------------------
$color-brand-1: $color-brand-vue-1;
$color-brand-2: $color-brand-vue-2;

// STATUS
// ----------------------------------------------------------------------
$color-error: #f58688;
$color-success: #64bdbd;
